
#flex{
    display: flex;
    background-color: lightblue;
    width: 500px;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.box {
    border: solid thin black;
    background-color: aquamarine;
    
}
